
body {
    position: relative;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}


nav {
    background: #765C3D !important;
}
nav a {
    font-family: 'Montserrat';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: #C8AE7D !important;
}

#hero {
    background: 
        linear-gradient(

            rgba(0, 0, 0, 0.59),
            rgba(0, 0, 0, 0.59)
            ),

        url("./image/girl-a.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

    ;
}

#banner-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

#banner-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

#banner-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;

    width: 180px;
    height: 48px;

    background: #B59066;
    border-radius: 999px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    /* Button/Text/button-primary-text */

    color: #FFFFFF;
}


#developer-tools-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: #765C3D;
}

#developer-tools-text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #765C3D;
}

#contact {
    background: #FFF2E4;
}

#contact-me-image {
    background: 
        url("./images/contact.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    ;
}

#contact-me-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #765C3D;
}

#contact-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #765C3D;
}

#contact form label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #B59066;
}

#contact form input {
    border: 1px solid #B59066 !important;
    border-radius: 0 !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #765C3D !important;
}

#contact form textarea {
    border: 1px solid #B59066 !important;
    border-radius: 0 !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #765C3D !important;
}

#form-btn {
    padding: 12px 32px;
    gap: 8px;
    background: #B59066;
    border-radius: 999px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
footer {
    background: #B59066;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFF2E4;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}



/*for flip card*/


/*.flip-card {
  background-color: #765827;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}*/


#h1 {
  text-align: center;
  height: 10px;
  width: 10px;

}

#developer-tools, #contact-me {
    display: none;
}


.tool-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-images img {
    width: 125px; /* Set a fixed width */
    height: 125px; /* Set a fixed height */
    margin: 10px; /* Add some margin to separate the images */
}


/*for marquee*/
h2 {
    margin: 0;
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    margin-right: 20px;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.marquee-image {
    width: 100px;
    height: 100px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}




